<Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">
    <Header>
        <RequestHeader xmlns="https://ddp.googleapis.com/api/ddp/provider/v201603">
            <clientCustomerId>{{ clientCustomerId }}</clientCustomerId>
            <developerToken>{{ developerToken }}</developerToken>
            <userAgent>{{ userAgent }}</userAgent>
        </RequestHeader>
    </Header>
    <Body>
    <get xmlns="https://ddp.googleapis.com/api/ddp/provider/v201603">
        <serviceSelector>
            <fields>UserListId</fields>
            <fields>UserListName</fields>
            <fields>ClientCustomerName</fields>
            <fields>CostUsd</fields>
            <fields>Status</fields>
            <fields>ClientImpressions</fields>
            <predicates>
                <field>ClientImpressions</field>
                <operator>GREATER_THAN</operator>
                <values>0</values>
            </predicates>
            <dateRange>
                <min>
                    <year>{{ dateMin.format('Y') }}</year>
                    <month>{{ dateMin.format('m') }}</month>
                    <day>{{ dateMin.format('d') }}</day>
                </min>
                <max>
                    <year>{{ dateMax.format('Y') }}</year>
                    <month>{{ dateMax.format('m') }}</month>
                    <day>{{ dateMax.format('d') }}</day>
                </max>
            </dateRange>
        </serviceSelector>
    </get>
    </Body>
</Envelope>
